.footer {
  position: relative;
  padding-block: 50px;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  background-color: var(--color-white);
  box-shadow: 0px -5px 20px 0px #00000040;
  text-align: start;
}
