.card {
  display: grid;
  grid-column: 1/-1;
  grid-template-columns: subgrid;
  grid-template-rows: repeat(5, auto);
  padding: var(--indent-4);
  background-color: var(--color-white);
  font-size: var(--font-size-base);
  border-radius: 20px;
  text-align: start;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  anchor-scope: --trip-avatar;

  @media (min-width: 768px) {
    grid-template-rows: min-content min-content min-content auto;
    padding-inline: 35px 25px;
    padding-block: 35px 25px;
    font-size: var(--font-size-sm);
  }

  @media (min-width: 1024px) {
    grid-template-rows: min-content auto min-content;
    padding: 0;
    padding-inline-end: 40px;
  }
}

.link {
  grid-row: 1;
  margin-block-end: var(--indent-3);

  @media (min-width: 768px) {
    grid-row: 1/-2;
    margin-block-end: 0;
  }

  @media (min-width: 1024px) {
    grid-row: 1/-1;
  }
}

.avatar {
  display: block;
  max-inline-size: 70px;
  max-block-size: 70px;
  border-radius: 50%;
  object-fit: cover;
  anchor-name: --trip-avatar;

  @media (min-width: 768px) {
    max-inline-size: 190px;
    max-block-size: 190px;
    border-radius: 20px;
  }

  @media (min-width: 1024px) {
    max-inline-size: 285px;
    max-block-size: 285px;
    border-radius: 0;
  }
}

.name {
  grid-column: 2;
  font-size: var(--font-size-sm);
  font-weight: 700;

  @media(min-width: 768px) {
    font-size: 30px;
  }

  @media (min-width: 1024px) {
    padding-block-start: 36px;
  }
}

.text {
  grid-column: 1/-1;
  grid-row: 2;
  margin-block: 0;

  @media(min-width: 768px) {
    grid-column: 2;
    line-height: 24px;
  }
}

.countries {
  grid-column: 1/-1;
  grid-row: 3;
  display: flex;
  flex-direction: column;
  gap: var(--indent-3);
  margin-block: var(--indent-5);
  padding-inline-start: 0;
  list-style-type: none;
  text-transform: uppercase;
  text-align: start;

  @media(min-width: 768px) {
    grid-row: 4;
    flex-direction: row;
    margin-block: auto 0;
  }

  @media (min-width: 1024px) {
    grid-column: 3;
    grid-row: 1/-2;
    flex-direction: column;
    margin-block: 0;
    padding-block-start: 36px;
  }
}

.country {
  display: flex;
  gap: var(--indent-3);
  align-items: center;
}

.options {
  display: grid;
  grid-column: 1/-1;
  grid-row: 4;
  grid-template-columns: auto min-content;
  column-gap: 40px;

  @media (min-width: 768px) {
    grid-column: 3;
    grid-row: 1/-2;
    grid-template-columns: min-content;
    row-gap: var(--indent-2);
  }

  @media (min-width: 1024px) {
    grid-row: 3;
    grid-template-columns: auto auto;
    align-items: center;
  }
}

.transport {
  display: flex;
  align-items: center;
  gap: var(--indent-3);
  margin-block: 0;
  padding-inline-start: 0;
  list-style-type: none;

  @media (min-width: 768px) {
    grid-row: 1/-1;
    flex-direction: column;
    gap: var(--indent-2);
  }

  @media (min-width: 1024px) {
    flex-direction: row;
  }
}

.icon {
  opacity: 0.15;
}

.actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: var(--indent-4);
  grid-column: 1/-1;
  margin-block: var(--indent-6);

  @media (min-width: 768px) {
    grid-column: 2;
    flex-direction: row;
    justify-content: flex-start;
    margin-block: auto 0;
  }

  @media (min-width: 1024px) {
    padding-block-end: 36px;
  }
}

.button {
  inline-size: 100%;
  padding: var(--indent-3);
  color: var(--color-white);

  @media (min-width: 768px) {
    max-inline-size: 180px;
    font-size: var(--font-size-sm);
  }
}

.approve {
  background-color: green;
}

.reject {
  background-color: var(--color-error);
}

.status {
  text-transform: uppercase;
}
