.main {
  z-index: -1;
  inline-size: min(1440px, 100%);
  margin-inline: auto;
  padding-block-end: 30px;
  background-color: var(--color-base-600);

  @media (min-width: 768px) {
    padding-block-end: 60px;
  }
}

.bg {
  position: absolute;
  top: 0;
  z-index: -1;
  inline-size: 100%;
  max-inline-size: 1440px;
}

.bgMob {
  display: block;
  block-size: 645px;

  @media (min-width: 768px) {
    display: none;
  }
}

.bgTab {
  display: none;

  @media (min-width: 768px) {
    display: block;
    block-size: 906px;
  }

  @media (min-width: 1024px) {
    display: none;
  }
}

.bgDesk {
  display: none;

  @media (min-width: 1024px) {
    display: block;
    block-size: 750px;
  }
}
