.baseFields {
  display: grid;
  row-gap: var(--indent-6);
  margin-block: var(--indent-8);

  @media (min-width: 768px) {
    margin-block-start: -140px;
  }

  @media (min-width: 1024px) {
    grid-template-columns: 1fr min-content;
    column-gap: 150px;
    margin-block-start: 80px;
  }
}

.field {
  margin-inline: 0;
  padding: 0;
  padding-block-start: var(--base-indent);
  border: 1px solid #cbced9;
  border-radius: 10px;
  font-size: var(--font-size-sm);
  line-height: 22px;
}

.field:last-of-type {
  @media (min-width: 768px) {
    order: -1;
    min-inline-size: 308px;
    margin-inline: auto;
  }

  @media (min-width: 1024px) {
    order: 0;
    min-inline-size: 384px;
  }
}

.fieldTitle {
  color: var(--color-base-500);
  font-size: var(--font-size-base);
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.tags {
  padding-inline: var(--indent-3);
  padding-block-end: var(--indent-3);
}

.transport {
  padding-inline: var(--indent-3);
  padding-block-end: var(--indent-2);
}

.stepFields {
  padding-block: 30px 70px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: var(--color-primary-300);

  @media(min-width: 768px) {
    padding-block: 50px 120px;
  }

  @media (min-width: 1024px) {
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
  }
}

.stepsTitle {
  margin-block: 0 var(--indent-7);
  font-size: var(--font-size-sm);
  font-weight: 700;
  text-align: start;
  anchor-name: --steps-title;

  @media(min-width: 768px) {
    margin-block-end: 50px;
    font-size: var(--font-size-xxl);
  }

  @media(min-width: 1024px) {
    padding-inline-start: 70px;
  }
}

.stepField {
  margin-inline: 0;
  padding-inline: clamp(24px, 5vw, 40px);
  padding-block: var(--indent-6);
  border: none;
  border-radius: 10px;
  background-color: var(--color-white);

  @media(min-width: 768px) {
    padding-inline: clamp(40px, 7vw, 80px);
    padding-block: 48px 56px;
    border-radius: 30px;
  }

  @media(min-width: 1024px) {
    padding-inline: clamp(100px, 11vw, 160px);
    padding-block: 100px;
    border-radius: 60px;
  }
}

.stepContent {
  margin-block-end: var(--indent-5);
  font-size: 12px;
  line-height: 22px;
  text-align: start;

  @media(min-width: 768px) {
    margin-block-end: var(--indent-7);
    padding-block-end: var(--indent-3);
    border-bottom: 1px solid var(--color-neutral-100);
    font-size: var(--font-size-sm);
    line-height: 24px;
  }

  @media(min-width: 1024px) {
    display: flex;
    justify-content: space-between;
    margin-block-end: var(--indent-7);
    padding-block-end: 55px;
  }
}

.stepIntro {
  text-align: start;
}

.stepTitle {
  margin-block: 0 var(--indent-4);
  font-size: var(--font-size-sm);
  line-height: 1;
  font-weight: 700;

  @media(min-width: 769px) {
    margin-block-end: 70px;
    font-size: var(--font-size-xxl);
  }

  @media(min-width: 1024px) {
    margin-block-end: var(--indent-8);
  }
}

.stepDescription {
  margin-block: 0;
  color: var(--color-neutral-500);
}

.stepList {
  position: absolute;
  display: flex;
  gap: var(--indent-4);
  margin-block: 0;
  list-style-type: none;
  position-anchor: --steps-title;
  position-area: right center;
  transform: translateX(-40px);

  @media (min-width: 768px) {
    gap: var(--indent-7);
  }

  @media(min-width: 1024px) {
    position: static;
    flex-direction: column;
    gap: var(--indent-6);
    transform: translate(0);
  }
}

.stepItem {
  display: flex;
  align-items: center;
  gap: 44px;
  opacity: 0.3;
}

.stepDot {
  inline-size: 6px;
  block-size: 6px;
  border-radius: 50%;
  background-color: var(--color-base-500);
}

.stepNav {
  display: none;
  color: var(--color-black);
  text-transform: uppercase;

  @media(min-width: 1024px) {
    display: block;
  }
}

.active {
  opacity: 1;
}

.counters {
  display: grid;
  grid-template-columns: 1fr min-content;
  row-gap: var(--indent-5);
  margin-block-end: var(--indent-6);

  @media(min-width: 768px) {
    margin-block-end: 60px;
  }

  @media(min-width: 1024px) {
    grid-template-columns: max-content min-content min-content auto;
    row-gap: var(--indent-6);
  }

}

.counterInput {
  display: grid;
  grid-column: 1/-1;
  grid-template-columns: subgrid;
  gap: var(--indent-2);


  @media(min-width: 1024px) {
    grid-column: 1/-2;
    gap: var(--indent-6);
  }
}

.checkbox {
  order: 1;
  justify-self: start;

  @media(min-width: 768px) {
    order: 0;
  }

  @media(min-width: 1024px) {
    justify-self: end;
  }
}
