.inputWrapper {
  position: relative;
  inline-size: 100%;
  display: flex;
  align-items: center;
  gap: var(--indent-2);
}

.label {
  color: var(--color-base-500);
  font-size: var(--font-size-sm);
  font-weight: 500;
}

.input {
  position: relative;
  flex-grow: 1;
  border: 1px solid transparent;
  border-radius: 10px;
  outline: none;
  background-color: transparent;
  font: inherit;
}

.error {
  position: absolute;
  left: var(--indent-3);
  top: 100%;
  color: var(--color-error);
  font-weight: 500;
  line-height: 2;
}

.base {
  padding-inline: 32px;
  padding-block: 24px 36px;
}

.inputWrapper:has(.error) .input {
  border-color: var(--color-error);
}
