.selects {
  display: grid;
  grid-template-columns: 1fr min-content min-content;
  row-gap: var(--indent-4);
}

.select {
  position: relative;
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1/-1;
  align-items: center;
  text-align: start;
}

.selectButton {
  max-inline-size: 730px;
  justify-content: space-between;
  padding: var(--indent-3);
  border: 1px solid var(--color-neutral-200);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;

  @media(min-width: 768px) {
    padding: var(--indent-6);
    font-size: var(--font-size-sm);
    line-height: 18px;
  }

  &:hover,
  &:active,
  &:focus,
  &:focus-visible {
    background-color: var(--color-neutral-200);
  }

  &:focus-visible {
    outline: 2px solid var(--color-primary-500);
    outline-offset: -2px;
  }
}

.flag {
  display: inline-block;
  max-inline-size: 35px;
  margin-inline: var(--indent-2);
  justify-self: center;
  border-radius: 5px;
  object-fit: contain;

  @media(min-width: 768px) {
    inline-size: 70px;
    margin-inline: var(--indent-6);
    border-radius: 0;
  }
}

.close {
  position: absolute;
  top: -12px;
  right: -12px;
  padding: var(--indent-1);
  border: 1px var(--color-neutral-300) solid;
  border-radius: 50%;
  background-color: var(--color-neutral-200);
  color: var(--color-black);
  opacity: 0.5;


  @media(min-width: 768px) {
    position: static;
    padding: 0;
    justify-self: end;
    align-self: center;
    border: none;
    background-color: transparent;
  }

  &:hover {
    opacity: 1;
  }
}

.closeButton {
  position: relative;
  top: -64px;
  grid-column: 1/-1;
  max-inline-size: 730px;
  justify-content: space-between;
  padding: var(--indent-3);
  border-radius: 4px;
  background-color: var(--color-base-500);
  color: var(--color-white);
  font-size: var(--font-size-base);
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;

  @media(min-width: 768px) {
    top: -74px;
    padding-inline: var(--indent-4);
    padding-block: var(--indent-6);
    font-size: var(--font-size-sm);
  }
}

.countryDropdown {
  position: relative;
  top: -64px;
  grid-column: 1/-1;
  grid-template-columns: 1fr;
  margin-block-end: -74px;

  @media(min-width: 768px) {
    top: -74px;
    grid-template-columns: subgrid;
  }
}

.error {
  position: absolute;
  left: var(--indent-3);
  top: 100%;
  color: var(--color-error);
  line-height: 2;
}

.select:has(.error) .selectButton {
  border-color: var(--color-error);
}
