.content {
  display: flex;
  flex-direction: column;
  gap: var(--indent-6);
  padding-block: var(--indent-4);

  @media(min-width: 768px) {
    gap: var(--indent-8);
    font-size: var(--font-size-sm);
  }
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
}

.form {
  display: grid;
  grid-template-columns: min-content 160px;
  row-gap: var(--indent-6);

  @media(min-width: 768px) {
    grid-template-columns: min-content 1fr;
    gap: var(--indent-8);
  }
}

.input {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: subgrid;
}

.submit {
  max-inline-size: fit-content;
  grid-column: 1/-1;
  justify-self: center;
}
