.list {
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: var(--indent-4);
  row-gap: var(--indent-3);

  @media (min-width: 768px) {
    grid-template-columns: max-content 1fr min-content;
    grid-template-rows: repeat(4, 332px);
    column-gap: 32px;
    row-gap: 40px;
  }

  @media (min-width: 1024px) {
    grid-template-columns: max-content 1fr min-content;
    grid-template-rows: repeat(4, 285px);
    column-gap: 62px;
  }
}

.loadMore {
  grid-column: 1/-1;

}

.pagination {
  grid-column: 1/-1;
  justify-content: space-between;
  margin-block-start: 45px;
}
