:global(.rdp-root) {
  position: relative;
  border-top: 1px solid var(--color-neutral-300);
  font-size: 18px;
  line-height: 1;

  @media(max-width: 376px) {
    font-size: 14px;
    line-height: 18px;
  }
}

:global(.rdp-nav) {
  position: absolute;
  top: var(--indent-6);
  inline-size: 100%;
  display: flex;
  justify-content: space-between;

  @media(max-width: 376px) {
    top: var(--indent-3);
  }
}

:global(.rdp-nav button) {
  border: none;
  background-color: transparent;
  color: var(--color-black);
  opacity: 0.3;
  cursor: pointer;
}

:global(.rdp-month_caption) {
  border-bottom: 1px solid var(--color-neutral-300);
}

:global(.rdp-caption_label) {
  display: inline-block;
  padding-block: var(--indent-6);
  font-size: var(--font-size-xxl);
  font-weight: 700;
  text-transform: capitalize;

  @media(max-width: 376px) {
    padding-block: var(--indent-3);
    font-size: 20px;
  }
}

:global(.rdp-month_grid) {
  inline-size: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

:global(.rdp-weekday) {
  padding-block: 18px;
  color: var(--color-neutral-500);
  font-weight: 400;
  text-transform: capitalize;

  @media(max-width: 769px) {
    padding-block: 36px 12px;
  }

  @media(max-width: 376px) {
    padding-block: 22px 12px;
    text-transform: uppercase;
  }
}

:global(.rdp-weekday:nth-child(6)),
:global(.rdp-weekday:nth-child(7)) {
  color: var(--color-error);
}

:global(.rdp-weeks) {
  inline-size: 100%;
}

:global(.rdp-selected) {
  border: none;
  color: var(--color-white);
}

:global(.rdp-day) {
  padding: 0;
  border: 1px solid var(--color-neutral-300);
}

:global(.rdp-selected .rdp-day_button) {
  background-color: var(--color-base-500);
  color: var(--color-white);

  &:hover {
    outline: 4px solid var(--color-error);
    outline-offset: -4px;
  }
}

:global(.rdp-day_button) {
  inline-size: 100%;
  padding-inline-start: var(--indent-4);
  padding-block: 14px 40px;
  border: none;
  background-color: var(--color-neutral-50);
  color: var(--color-neutral-500);
  font: inherit;
  text-align: start;
  cursor: pointer;

  @media(max-width: 769px) {
    padding-inline: 0;
    padding-block: var(--indent-6);
    text-align: center;
  }

  @media(max-width: 376px) {
    padding-block: var(--indent-2);
  }
}

:global(.rdp-disabled) {
  opacity: 0.3;
}
