.content {
  display: flex;
  flex-direction: column;
  gap: var(--indent-6);

  @media(min-width: 768px) {
    gap: var(--indent-8);
    font-size: var(--font-size-sm);
  }
}

.title {
  margin: 0;
  color: var(--color-base-500);
}

.confirm {
  display: flex;
}
