.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 35px 50px;
  background-color: transparent;
  color: var(--color-white);

  &:has(.nav:popover-open) {
    background-color: var(--color-white);

    & .image {
      display: none;
    }

    & .imagePopup {
      display: block;
    }
  }
}

.image {
  display: block;
  inline-size: 100px;

  @media (min-width: 768px) {
    inline-size: 202px;
  }
}

.imagePopup {
  display: none;
  inline-size: 100px;

  @media (min-width: 768px) {
    inline-size: 202px;
  }
}

.nav {
  inline-size: 100%;
  padding: var(--indent-6);
  border: none;

  &:popover-open {
    inset: 120px 0 auto 0;
  }

  @media (min-width: 1024px) {
    display: block;
    position: static;
    inline-size: fit-content;
    background-color: transparent;
    color: var(--color-white);
  }
}

.navList {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--indent-3);
  margin-inline-start: 0;
  margin-block: 0;
  padding-inline-start: 0;
  list-style-type: none;

  @media (min-width: 768px) {
    flex-direction: row;
    gap: var(--indent-4);
    justify-content: center;
  }
}

.navItem {
  font-size: var(--font-size-lg);
  font-weight: 500;
  text-transform: uppercase;

  @media(min-width: 768px) {
    font-size: var(--font-size-base);
  }
}

.open {
  @media (min-width: 1024px) {
    display: none;
  }
}

.close {
  display: none;
}

.header:has(.nav:popover-open) .open {
  display: none;
}

.header:has(.nav:popover-open) .close {
  display: block;
}

.header:has(.nav:popover-open) .auth {
  display: none;
}
