.stepsNav {
  display: flex;
  flex-direction: column;
  gap: var(--indent-2);
  margin-block-start: var(--indent-6);


  @media(min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    margin-block-start: 60px;
  }
}
