 .userLevel {
  position: relative;
  inline-size: var(--size, 100px);
  block-size: var(--size, 100px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: currentColor;
  --stroke-color: #4D99D6;
}

.progress {
  position: absolute;
  top: 0;
  left: 0;
  inline-size: 100%;
  block-size: 100%;
  transform: rotate(-90deg);
}

.progress circle {
  stroke: var(--stroke-color);
}

.number {
  z-index: 1;
  font-size: calc(var(--size, 100px) * 0.38);
  font-weight: 700;
}

.line {
  z-index: 1;
  inline-size: 60%;
  block-size: 2px;
  margin-block: 0 calc(var(--size, 100px) * 0.06);
  border: none;
  background-color: var(--color-neutral-500);
  opacity: 0.3;

}

.text {
  z-index: 1;
  font-size: calc(var(--size, 100px) * 0.18);
}
