.transportList {
  display: flex;
  justify-content: center;
  gap: 2px;
  margin-block: 0;
  padding-inline-start: 0;
  padding-block: var(--indent-2);
  list-style-type: none;

  @media (min-width: 768px) {
    padding-block: var(--indent-5);
  }
}

.transportButton {
  padding: var(--indent-2);
  background-color: var(--color-white);
  color: var(--color-neutral-300);

  &:hover {
    background-color: var(--color-white);
    color: var(--color-neutral-400);
  }

  &:active,
  &:focus,
  &:focus-visible {
    background-color: var(--color-neutral-100);
    color: var(--color-base-500);
    opacity: var(--opacity-disabled);
  }

  &[aria-pressed='true'] {
    color: var(--color-base-500);

    &:hover {
      opacity: 0.7;
    }

    &:active,
    &:focus,
    &:focus-visible {
      opacity: var(--opacity-base);
    }
  }
}
