.user {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: var(--indent-4);
  padding-inline: var(--indent-4);

  @media (min-width: 768px) {
    padding-inline: 36px;
  }

  @media (min-width: 1024px) {
    grid-template-columns: min-content auto;
    gap: 40px
  }
}

.level {
  color: var(--color-base-600);
  --size: 100px;

  @media (min-width: 768px) {
    --size: 95px;
  }

  @media (min-width: 1024px) {
    align-self: self-start;
    margin-block-start: var(--indent-6);
    color: var(--color-white);
  }
}

.avatar {
  inline-size: 100px;
  block-size: auto;
  justify-self: self-end;
  border-radius: 50%;

  @media (min-width: 768px) {
    inline-size: 95px;
    border-radius: 7px;
  }

  @media (min-width: 1024px) {
    inline-size: 200px;
    border-radius: var(--border-radius-lg);
  }
}

.photoBtn {
  grid-column: 1/-1;
  background-color: var(--color-neutral-300);
  padding-block: var(--indent-3);
  font-size: var(--font-size-sm);
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: 768px) {
    padding-block: var(--indent-5);
  }

  @media (min-width: 1024px) {
    display: none;
  }
}
