.user {
  display: grid;
  grid-template-columns: 1fr auto;
  row-gap: var(--indent-4);
  padding-inline: var(--indent-4);

  @media (min-width: 768px) {
    padding-inline: 36px;
  }

  @media (min-width: 1024px) {
    grid-template-columns: min-content auto;
    gap: 40px
  }
}

.level {
  color: var(--color-base-600);
  --size: 100px;

  @media (min-width: 768px) {
    --size: 95px;
  }

  @media (min-width: 1024px) {
    align-self: self-start;
    margin-block-start: var(--indent-6);
    color: var(--color-white);
  }
}

.avatar {
  display: block;
  inline-size: 100px;
  block-size: 100px;
  border-radius: 50%;
  object-fit: cover;

  @media (min-width: 768px) {
    inline-size: 95px;
    block-size: 95px;
    border-radius: 7px;
  }

  @media (min-width: 1024px) {
    inline-size: 200px;
    block-size: 200px;
    border-radius: var(--border-radius-lg);
  }
}
