.dropdown {
  display: grid;
}

.content {
  max-inline-size: 730px;
  display: grid;
  grid-column: 1/-1;
  grid-template-columns: 1fr;
  justify-content: space-between;
  background-color: var(--color-white);
  box-shadow: 0px 8px 16px 0px rgba(54, 80, 148, 0.18);


  @media(min-width: 768px) {
    grid-template-columns: min-content min-content;
  }
}

.alfabet {
  display: grid;
  grid-template-columns: repeat(5, min-content);
  grid-template-rows: repeat(5, min-content);

  @media(min-width: 768px) {
    padding-inline: var(--indent-6);
    padding-block: var(--indent-6);
  }

  @media(min-width: 1024px) {
    gap: var(--indent-4);
  }
}

.letter {
  padding-inline: var(--indent-4);
  padding-block: var(--indent-3);
  border: 1px solid var(--color-neutral-200);
  border-radius: 0;
  font-size: 14px;
  font-weight: 500;

  @media(min-width: 1024px) {
    padding-inline: var(--indent-5);
    padding-block: var(--indent-6);
    border-radius: 4px;
    font-size: var(--font-size-sm);
    line-height: 18px;
  }

  &:hover {
    border-color: var(--color-neutral-400);
  }

  &:active,
  &:focus,
  &:focus-visible {
    background-color: var(--color-base-500);
    color: var(--color-white);
  }

  &:focus-visible {
    outline: 2px solid var(--color-primary-500);
    outline-offset: -2px;
  }
}

.countries {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-inline-start: var(--indent-5);
  padding-block: var(--indent-8);
}

.country {
  min-inline-size: 160px;
  padding: 0;
  color: var(--color-neutral-500);
  font-size: var(--font-size-sm);
  font-weight: 400;
  text-align: start;
}
