.dashboard {
  padding-block-end: var(--indent-6);

  @media (min-width: 768px) {
    padding-block-end: 36px;
  }
}

.title {
  margin-block: 0 var(--indent-6);
  font-size: var(--font-size-md);

  @media (min-width: 768px) {
    margin-block-end: 36px;
    font-size: var(--font-size-xxl);
  }
}

.list {
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: var(--indent-4);
  row-gap: var(--indent-3);
  margin-block: 0;
  padding-inline-start: 0;

  @media (min-width: 768px) {
    grid-template-columns: max-content 1fr min-content;
    grid-auto-rows: 332px;
    column-gap: 32px;
    row-gap: 40px;
  }

  @media (min-width: 1024px) {
    grid-template-columns: max-content 1fr min-content;
    grid-auto-rows: 285px;
    column-gap: 62px;
  }
}

.empty {
  padding: 2rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  border-radius: 12px;
  border: 1px solid var(--border-color);
}
